
# Directories #
build/
bin/
config/
.vpprefdata/

#Maven
target/
logs/
 
# Eclipse
.settings/
.classpath
.project

#Intellij
.idea/
*.iml
*.iws

#Mac
.DS_Store

# React 
package-lock.json
*~

######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath
src/Unity.UnitTest/${sys
.recommenders/
dependency-reduced-pom.xml
src/Coalesce/src/main/resources/hash.properties
