
# Directories #
build/
bin/
config/
.vpprefdata/

#Maven
target/
logs/
 
# Eclipse
.settings/
.classpath
.project

#Intellij
.idea/
*.iml
*.iws

#Mac
.DS_Store

# React 
package-lock.json
node_modules/
*~

# Derby
derby.log

######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
 
 
######################
# Eclipse
######################
 
*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
/src/main/resources/rebel.xml
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# CDT-specific
.cproject
 
# PDT-specific
.buildpath
src/Unity.UnitTest/${sys
.recommenders/
dependency-reduced-pom.xml
src/Coalesce/src/main/resources/hash.properties

src/Coalesce\.Synchronizer/service/src/test/resources/CopyOperationImpl/408db3de-023b-4890-8d6c-85ca70b30491

src/Coalesce\.Synchronizer/service/src/test/resources/CopyOperationImpl/561689df-7b88-4009-9049-eb104b2f2826

src/Coalesce\.Synchronizer/service/src/test/resources/CopyOperationImpl/6d06a1f2-92f8-4010-9929-10373242216e

src/Coalesce\.Synchronizer/service/src/test/resources/CopyOperationImpl/caad5e74-d37a-4cd2-9485-984e6e08e1c6

src/Coalesce\.Synchronizer/service/src/test/resources/CopyOperationImpl/f2751848-7b4a-428f-9c97-7cf39c939e5e

src/Coalesce\.Synchronizer/service/src/test/resources/ExceptionOperationImpl/02e211fe-2d07-4698-9832-6ecf05b25445

src/Coalesce\.Synchronizer/service/src/test/resources/ExceptionOperationImpl/408db3de-023b-4890-8d6c-85ca70b30491

src/Coalesce\.Synchronizer/service/src/test/resources/ExceptionOperationImpl/561689df-7b88-4009-9049-eb104b2f2826

src/Coalesce\.Synchronizer/service/src/test/resources/ExceptionOperationImpl/6d06a1f2-92f8-4010-9929-10373242216e

src/Coalesce\.Synchronizer/service/src/test/resources/ExceptionOperationImpl/89ca66d8-7df3-4921-a4b4-3897a2730a9a

src/Coalesce\.Synchronizer/service/src/test/resources/ExceptionOperationImpl/b7f603c6-e7de-4a99-9f84-bc318f195ca2

src/Coalesce\.Synchronizer/service/src/test/resources/ExceptionOperationImpl/caad5e74-d37a-4cd2-9485-984e6e08e1c6

src/Coalesce\.Synchronizer/service/src/test/resources/ExceptionOperationImpl/f2751848-7b4a-428f-9c97-7cf39c939e5e

src/Coalesce\.Synchronizer/service/src/test/resources/CopyOperationImpl/
