
.react-grid-layout {
  position: relative;
  transition: height 200ms ease;
}
.react-grid-item {
  transition: all 200ms ease;
  transition-property: left, top;
}
.react-grid-item.cssTransforms {
  transition-property: transform;
}
.react-grid-item.resizing {
  z-index: 1;
  will-change: width, height;
}

.react-grid-item.react-draggable-dragging {
  transition: none;
  z-index: 3;
  will-change: transform;
}

.react-grid-item.react-grid-placeholder {
  background: red;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-grid-item > .react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  cursor: se-resize;
}

.react-grid-item > .react-resizable-handle::after {
  content: "";
  position: absolute;
  right: 3px;
  bottom: 3px;
  width: 5px;
  height: 5px;
  border-right: 2px solid rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}


#graphContainer {
  position:relative;
  overflow:scroll;
  cursor:default;
  min-height: 100%;
}

.panel {
  min-height: 100%;
  max-height: 100%;
  /*background:#002833;*/
  overflow-x: hidden;
  overflow-y: scroll;
}


/*
#editor {
  color: #839496;
}

#section > .panel.panel-default {
  margin-bottom: 0%;
}

#section  > .container-fluid {
  margin-bottom: 0%;
  padding-left: 0%;
  padding-right: 0%;
}

#section > .panel {
  border-width: 0px;
}

.editor-divider {
  border-top-color: #839496;
}*/
