/*-----------------------------------------------------------------------------'
 Copyright 2017 - InCadence Strategic Solutions Inc., All Rights Reserved

 Notwithstanding any contractor copyright notice, the Government has Unlimited
 Rights in this work as defined by DFARS 252.227-7013 and 252.227-7014.  Use
 of this work other than as specifically authorized by these DFARS Clauses may
 violate Government rights in this work.

 DFARS Clause reference: 252.227-7013 (a)(16) and 252.227-7014 (a)(16)
 Unlimited Rights. The Government has the right to use, modify, reproduce,
 perform, display, release or disclose this computer software and to have or
 authorize others to do so.

 Distribution Statement D. Distribution authorized to the Department of
 Defense and U.S. DoD contractors only in support of U.S. DoD efforts.
 -----------------------------------------------------------------------------*/
#set ($name = $normalizer.normalize($entity.getName()))
package ${packagename_root}.${packagename_sub};
#set($imports = [])
#if( $imports.add("com.incadencecorp.coalesce.framework.datamodel.ECoalesceObjectStatus") ) #end
#if( $imports.add("org.joda.time.DateTime") ) #end
#foreach($recordset in $recordsets)
	#if( $imports.add("${packagename_root}.api.record.I$normalizer.normalize($recordset.getName())Record") ) #end
	#if($recordset.getMaxRecords() != 1)
		#if(!$imports.contains( "java.util.List" ) && $imports.add("java.util.List")) #end
		#if(!$imports.contains( "com.incadencecorp.coalesce.common.exceptions.CoalesceDataFormatException" ) && $imports.add("com.incadencecorp.coalesce.common.exceptions.CoalesceDataFormatException")) #end
	#end 
#end
$imports.sort(null)
#foreach($import in $imports)
import ${import};
#end

/**
 * Generated on $entity.getDateCreated().
 * 
 * @author coalesce-plugins-template2java
 */
public interface ${classname} {

	/**
	* Returns the date this object was created.
	*/
    DateTime getDateCreated();

	/**
	* Sets the date this object was created.
	*/
    void setDateCreated(DateTime value);

	/**
	* Returns the date this object was last modified.
	*/
    DateTime getLastModified();

	/**
	* Sets the date this object was created.
	*/
    void setLastModified(DateTime value);

	/**
	* Sets the user ID who last modified this object.
	*/
    String getModifiedBy();

	/**
	* Returns the user ID who last modified this object.
	*/
    void setModifiedBy(String value);
        
	/**
	* Returns this entity's status
	*/
    ECoalesceObjectStatus getStatus();
    
	/**
	* Sets this entity's status
	*/
	void setStatus(ECoalesceObjectStatus value);

#foreach($recordset in $recordsets)
#if($recordset.getMaxRecords() == 1)
	/**
	* @return the singleton record belong to $recordset.getName().
	*/
    I$normalizer.normalize($recordset.getName())Record get$normalizer.normalize($recordset.getName())Record();

	/**
	* Sets the singleton record belong to $recordset.getName(). Only the field's values are copied. History and other attributes are not.
        *
        * @param record
	*/
    void set$normalizer.normalize($recordset.getName())Record(I$normalizer.normalize($recordset.getName())Record record) throws CoalesceDataFormatException;
    
#else
#set($recordset_name = "recordset_$normalizer.normalize($recordset.getName())")
	/**
	* @return a list of records belong to $recordset.getName().
	*/
    List<I$normalizer.normalize($recordset.getName())Record> get$normalizer.normalize($recordset.getName())Records();

	/**
	* @return the specified record.
        *
        * @param key
	*/
    I$normalizer.normalize($recordset.getName())Record get$normalizer.normalize($recordset.getName())Record(String key);

	/**
	* @return a newly created record that has been added to $recordset.getName().
	*/
    I$normalizer.normalize($recordset.getName())Record add$normalizer.normalize($recordset.getName())Record();
    
	/**
	* Removes the record.
        *
        * @param record
	*/
    void rmv$normalizer.normalize($recordset.getName())Record(I$normalizer.normalize($recordset.getName())Record record);

	/**
	* Removes the record by its key.
        *
        * @param key
	*/
    void rmv$normalizer.normalize($recordset.getName())Record(String key);
    
#end
#end
}