/*-----------------------------------------------------------------------------'
 Copyright 2017 - InCadence Strategic Solutions Inc., All Rights Reserved

 Notwithstanding any contractor copyright notice, the Government has Unlimited
 Rights in this work as defined by DFARS 252.227-7013 and 252.227-7014.  Use
 of this work other than as specifically authorized by these DFARS Clauses may
 violate Government rights in this work.

 DFARS Clause reference: 252.227-7013 (a)(16) and 252.227-7014 (a)(16)
 Unlimited Rights. The Government has the right to use, modify, reproduce,
 perform, display, release or disclose this computer software and to have or
 authorize others to do so.

 Distribution Statement D. Distribution authorized to the Department of
 Defense and U.S. DoD contractors only in support of U.S. DoD efforts.
 -----------------------------------------------------------------------------*/
#set ($name = $normalizer.normalize($entity.getName()))
package ${packagename_root}.${packagename_sub};
#set($imports = [])
#if( $imports.add("java.util.List") ) #end
#if( $imports.add("com.fasterxml.jackson.annotation.JsonIgnore") ) #end
#if( $imports.add("com.incadencecorp.coalesce.framework.datamodel.CoalesceEntity") ) #end
#if( $imports.add("com.incadencecorp.coalesce.framework.datamodel.CoalesceRecord") ) #end
#if( $imports.add("com.incadencecorp.coalesce.framework.datamodel.CoalesceSection") ) #end
#if( $imports.add("${packagename_root}.api.entity.I${name}Entity") ) #end
#if( $imports.add("com.incadencecorp.coalesce.common.exceptions.CoalesceDataFormatException") ) #end
#foreach($recordset in $recordsets)
	#if( $imports.add("${packagename_root}.impl.coalesce.record.$normalizer.normalize($recordset.getName())CoalesceRecord") ) #end
	#if( $imports.add("${packagename_root}.api.record.I$normalizer.normalize($recordset.getName())Record") ) #end
	#if(!($recordset.getMaxRecords() == 1 && $recordset.getMinRecords() == 1))
		#if(!$imports.contains( "java.util.ArrayList" ) && $imports.add("java.util.ArrayList")) #end
		#if(!$imports.contains( "com.incadencecorp.coalesce.framework.datamodel.CoalesceRecordset" ) && $imports.add("com.incadencecorp.coalesce.framework.datamodel.CoalesceRecordset")) #end
	#end
#end
$imports.sort(null)
#foreach($import in $imports)
import ${import};
#end

/**
 * Coalesce implementation of {@link I${name}Entity} generated on $entity.getDateCreated().
 * 
 * @author coalesce-plugins-template2java
 */
public class ${classname} extends CoalesceEntity implements I${name}Entity {

    public static final String NAME = "$entity.getName()";
    public static final String SOURCE = "$entity.getSource()";
    public static final String VERSION = "$entity.getVersion()";

#foreach($recordset in $recordsets)
    public static final String RECORDSET_$normalizer.normalize($recordset.getName()).toUpperCase() = "$recordset.getName()";
#end

#foreach($recordset in $recordsets)
#if($recordset.getMaxRecords() == 1 && $recordset.getMinRecords() == 1)
    private $normalizer.normalize($recordset.getName())CoalesceRecord record_$normalizer.normalize($recordset.getName());
#else
    private CoalesceRecordset recordset_$normalizer.normalize($recordset.getName());
#end
#end

    /**
     * Default Constructor
     */
    public ${classname}()
    {
        // Do Nothing
    }

    @Override
    public boolean initialize()
    {
        boolean isInitialized = false;
        if (initializeEntity(NAME, SOURCE, VERSION, "", "", ""))
        {
            isInitialized = initializeReferences();
        }
        return isInitialized;
    }

    @Override
    protected boolean initializeEntity(String name,
                                       String source,
                                       String version,
                                       String entityId,
                                       String entityIdType,
                                       String title)
    {
        boolean isInitialized = false;

        if (super.initializeEntity(name, source, version, entityId, entityIdType, title))
        {
        
#foreach($section in $entity.getSections())
            // Create Section
            CoalesceSection section = CoalesceSection.create(this, "$section.getName()");

#foreach($recordset in $section.getRecordsets())
#set($recordtype = "$normalizer.normalize($recordset.getName())CoalesceRecord")
#if($recordset.getMaxRecords() == 1 && $recordset.getMinRecords() == 1)
            record_$normalizer.normalize($recordset.getName()) = new $normalizer.normalize($recordset.getName())CoalesceRecord(${recordtype}.createCoalesceRecordset(section, RECORDSET_$normalizer.normalize($recordset.getName()).toUpperCase()).addNew());
#else
            recordset_$normalizer.normalize($recordset.getName()) = ${recordtype}.createCoalesceRecordset(section, RECORDSET_$normalizer.normalize($recordset.getName()).toUpperCase());
#end
#end
#end
            isInitialized = true;
        }

        return isInitialized;
    }

    @Override
    protected boolean initializeReferences()
    {
        if (super.initializeReferences())
        {
#set($check = "")
#foreach($recordset in $recordsets)
#if($recordset.getMaxRecords() == 1 && $recordset.getMinRecords() == 1)
#set($varname = "record_$normalizer.normalize($recordset.getName())")
#set($vartype = "$normalizer.normalize($recordset.getName())CoalesceRecord")
            if ($varname == null)
            {
                $varname = new $vartype((CoalesceRecord) getCoalesceObjectForNamePath("$recordset.getNamePath()/$recordset.getName() Record"));
            }
#else
#set($varname = "recordset_$normalizer.normalize($recordset.getName())")
            if ($varname == null)
            {
                $varname = (CoalesceRecordset) getCoalesceObjectForNamePath("$recordset.getNamePath()");
            }
#end
#set($check = $check + "$varname != null")
#if( $foreach.hasNext )
#set($check = $check + " && ")
#end
#end
        }

        return $check;
    }

#foreach($recordset in $recordsets)
#if($recordset.getMaxRecords() == 1 && $recordset.getMinRecords() == 1)
#set($record_name = "record_$normalizer.normalize($recordset.getName())")
    @Override
    public $normalizer.normalize($recordset.getName())CoalesceRecord get$normalizer.normalize($recordset.getName())Record()
    {
        return $record_name;
    }
    
    @Override
    public void set$normalizer.normalize($recordset.getName())Record(I$normalizer.normalize($recordset.getName())Record record) throws CoalesceDataFormatException
    {
		${record_name}.populate(record);
    }
    
#else
#set($recordset_name = "recordset_$normalizer.normalize($recordset.getName())")
    @JsonIgnore
    public CoalesceRecordset get$normalizer.normalize($recordset.getName())Recordset()
    {
        return $recordset_name;
    }

    @Override
    public void add$normalizer.normalize($recordset.getName())Record(List<I$normalizer.normalize($recordset.getName())Record> records) throws CoalesceDataFormatException
    {
    	// TODO Not Implemented
    }
    
    @Override
    public $normalizer.normalize($recordset.getName())CoalesceRecord add$normalizer.normalize($recordset.getName())Record()
    {
        return new $normalizer.normalize($recordset.getName())CoalesceRecord(${recordset_name}.addNew());
    }
    
    @Override
    public List<I$normalizer.normalize($recordset.getName())Record> get$normalizer.normalize($recordset.getName())Records()
    {
		List<CoalesceRecord> records = ${recordset_name}.getRecords();
		List<I$normalizer.normalize($recordset.getName())Record> results = new ArrayList<>();

		for (CoalesceRecord record : records) 
		{
            results.add(new $normalizer.normalize($recordset.getName())CoalesceRecord(record));
		}

        return results;
    }

    @Override
    public $normalizer.normalize($recordset.getName())CoalesceRecord get$normalizer.normalize($recordset.getName())Record(String key)
    {
		return new $normalizer.normalize($recordset.getName())CoalesceRecord((CoalesceRecord) ${recordset_name}.getChildCoalesceObject(key));
    }

    @Override
    public void rmv$normalizer.normalize($recordset.getName())Record(I$normalizer.normalize($recordset.getName())Record record)
    {
        rmv$normalizer.normalize($recordset.getName())Record(record.getKey());
    }

    @Override
    public void rmv$normalizer.normalize($recordset.getName())Record(String key)
    {
        ${recordset_name}.remove(key);
    }

#end
#end

    /*--------------------------------------------------------------------------
    Overrides to add JsonIgnore
    --------------------------------------------------------------------------*/

    @JsonIgnore
    public List<CoalesceSection> getSectionsAsList()
    {
        return super.getSectionsAsList();
    }

}
