/*-----------------------------------------------------------------------------'
 Copyright 2017 - InCadence Strategic Solutions Inc., All Rights Reserved

 Notwithstanding any contractor copyright notice, the Government has Unlimited
 Rights in this work as defined by DFARS 252.227-7013 and 252.227-7014.  Use
 of this work other than as specifically authorized by these DFARS Clauses may
 violate Government rights in this work.

 DFARS Clause reference: 252.227-7013 (a)(16) and 252.227-7014 (a)(16)
 Unlimited Rights. The Government has the right to use, modify, reproduce,
 perform, display, release or disclose this computer software and to have or
 authorize others to do so.

 Distribution Statement D. Distribution authorized to the Department of
 Defense and U.S. DoD contractors only in support of U.S. DoD efforts.
 -----------------------------------------------------------------------------*/
#set ($name = $normalizer.normalize($entity.getName()))
package ${packagename_root}.${packagename_sub};
#set($imports = [])
#if( $imports.add("com.incadencecorp.coalesce.framework.datamodel.ECoalesceObjectStatus") ) #end
#if( $imports.add("org.joda.time.DateTime") ) #end
#if( $imports.add("${packagename_root}.api.entity.I${name}Entity") ) #end
#foreach($recordset in $recordsets)
	#if( $imports.add("${packagename_root}.impl.pojo.record.$normalizer.normalize($recordset.getName())PojoRecord") ) #end
	#if( $imports.add("${packagename_root}.api.record.I$normalizer.normalize($recordset.getName())Record") ) #end
	#if($recordset.getMaxRecords() != 1)
		#if(!$imports.contains( "java.util.List" ) && $imports.add("java.util.List")) #end
		#if(!$imports.contains( "com.incadencecorp.coalesce.common.exceptions.CoalesceDataFormatException" ) && $imports.add("com.incadencecorp.coalesce.common.exceptions.CoalesceDataFormatException")) #end
		#if(!$imports.contains( "java.util.Map" ) && $imports.add("java.util.Map")) #end
		#if(!$imports.contains( "java.util.HashMap" ) && $imports.add("java.util.HashMap")) #end
		#if(!$imports.contains( "java.util.ArrayList" ) && $imports.add("java.util.ArrayList")) #end
	#end
#end
$imports.sort(null)
#foreach($import in $imports)
import ${import};
#end

/**
 * Pojo implementation of {@link I${name}Entity} generated on $entity.getDateCreated().
 * 
 * @author coalesce-plugins-template2java
 */
public class ${classname} implements I${name}Entity {

    public static final String NAME = "$entity.getName()";
    public static final String SOURCE = "$entity.getSource()";
    public static final String VERSION = "$entity.getVersion()";

#foreach($recordset in $recordsets)
#if($recordset.getMaxRecords() == 1)
    private $normalizer.normalize($recordset.getName())PojoRecord record_$normalizer.normalize($recordset.getName());
#else
    private Map<String, $normalizer.normalize($recordset.getName())PojoRecord> recordset_$normalizer.normalize($recordset.getName()) = new HashMap<String, $normalizer.normalize($recordset.getName())PojoRecord>();
#end
#end

	private DateTime dateCreated; 
	private DateTime lastModified; 
	private String lastModifiedBy;
	private ECoalesceObjectStatus status;

    /**
     * Default Constructor
     */
    public ${classname}()
    {
        // Do Nothing
    }

    @Override
    public DateTime getDateCreated()
    {
        return dateCreated;
    }

    @Override
    public void setDateCreated(DateTime value)
    {
        dateCreated = value;
    }
    
    @Override
    public DateTime getLastModified()
    {
        return lastModified;
    }

    @Override
    public void setLastModified(DateTime value)
    {
        lastModified = value;
    }

    @Override
    public String getModifiedBy()
    {
        return lastModifiedBy;
    }

    @Override
    public void setModifiedBy(String value)
    {
        lastModifiedBy = value;
    }

	@Override
    public ECoalesceObjectStatus getStatus()
    {
        return status;
    }
    
	@Override
    public void setStatus(ECoalesceObjectStatus value)
    {
        status = value;
    }

#foreach($recordset in $recordsets)
#if($recordset.getMaxRecords() == 1)
    @Override
    public $normalizer.normalize($recordset.getName())PojoRecord get$normalizer.normalize($recordset.getName())Record()
    {
        return record_$normalizer.normalize($recordset.getName());
    }

    @Override
    public void set$normalizer.normalize($recordset.getName())Record(I$normalizer.normalize($recordset.getName())Record record) throws CoalesceDataFormatException
    {
        record_$normalizer.normalize($recordset.getName()) = new $normalizer.normalize($recordset.getName())PojoRecord(record);
    }

#else
#set($recordset_name = "recordset_$normalizer.normalize($recordset.getName())")
    @Override
    public $normalizer.normalize($recordset.getName())PojoRecord add$normalizer.normalize($recordset.getName())Record()
    {
		$normalizer.normalize($recordset.getName())PojoRecord result = new $normalizer.normalize($recordset.getName())PojoRecord();
		${recordset_name}.put(result.getKey(), result);
        return result;
    }

    @Override
    public List<I$normalizer.normalize($recordset.getName())Record> get$normalizer.normalize($recordset.getName())Records()
    {
		List<I$normalizer.normalize($recordset.getName())Record> result = new ArrayList<I$normalizer.normalize($recordset.getName())Record>();
		result.addAll(${recordset_name}.values());
        return result;
    }

    @Override
    public $normalizer.normalize($recordset.getName())PojoRecord get$normalizer.normalize($recordset.getName())Record(String key)
    {
		return ${recordset_name}.get(key);
    }

    @Override
    public void rmv$normalizer.normalize($recordset.getName())Record(I$normalizer.normalize($recordset.getName())Record record)
    {
        rmv$normalizer.normalize($recordset.getName())Record(record.getKey());
    }

    @Override
    public void rmv$normalizer.normalize($recordset.getName())Record(String key)
    {
		${recordset_name}.remove(key);
    }

#end
#end

}