/*-----------------------------------------------------------------------------'
 Copyright 2017 - InCadence Strategic Solutions Inc., All Rights Reserved

 Notwithstanding any contractor copyright notice, the Government has Unlimited
 Rights in this work as defined by DFARS 252.227-7013 and 252.227-7014.  Use
 of this work other than as specifically authorized by these DFARS Clauses may
 violate Government rights in this work.

 DFARS Clause reference: 252.227-7013 (a)(16) and 252.227-7014 (a)(16)
 Unlimited Rights. The Government has the right to use, modify, reproduce,
 perform, display, release or disclose this computer software and to have or
 authorize others to do so.

 Distribution Statement D. Distribution authorized to the Department of
 Defense and U.S. DoD contractors only in support of U.S. DoD efforts.
 -----------------------------------------------------------------------------*/
#set ($entity = $recordset.getEntity())
#set ($definitions = $recordset.getFieldDefinitions())
package $packagename;
## Create Imports
#set($imports = [])
#foreach($fd in $definitions)
	#if($fd.getDataType() == "URI_TYPE")
		#set($import = "java.net.URI")
	#elseif($fd.getDataType() == "DATE_TIME_TYPE")
		#set($import = "java.util.Date")
	#elseif($fd.getDataType() == "GUID_TYPE")
		#set($import = "java.util.UUID")
	#elseif($fd.getDataType() == "LINE_STRING_TYPE")
		#set($import = "com.vividsolutions.jts.geom.LineString")
	#elseif($fd.getDataType() == "GEOCOORDINATE_LIST_TYPE")
		#set($import = "com.vividsolutions.jts.geom.MultiPoint")
	#elseif($fd.getDataType() == "GEOCOORDINATE_TYPE")
		#set($import = "com.vividsolutions.jts.geom.Point")
	#elseif($fd.getDataType() == "POLYGON_TYPE")
		#set($import = "com.vividsolutions.jts.geom.Polygon")
	#else
		#set($import = "false")
	#end
	#if($fd.getDataType().isListType() && !$imports.contains( "java.util.List" ))
		#if( $imports.add("java.util.List") ) #end
	#end
    #if( ${import} != false && !$imports.contains( $import ) )
    	#if( $imports.add($import) ) #end
    #end
#end
#foreach($import in $imports)
import ${import};
#end

/**
 * Generated on $entity.getDateCreated() by template2java
 * 
 * @author Coalesce
 */
public interface I${name}Record {

#foreach($fd in $definitions)
#if($fd.getDataType() == "ENUMERATION_TYPE" || $fd.getDataType() == "ENUMERATION_LIST_TYPE")
	#set($returntype = "Integer")
#else
	#set($returntype = $typemapper.map($fd.getDataType()).getSimpleName())
#end 
#if($fd.getDataType().isListType())
	#set($returntype = "List<${returntype}>")
#end
    $returntype get$normalizer.normalize($fd.getName())();
#end
}