<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~  Copyright 2017 - InCadence Strategic Solutions Inc., All Rights Reserved
  ~
  ~  Notwithstanding any contractor copyright notice, the Government has Unlimited
  ~  Rights in this work as defined by DFARS 252.227-7013 and 252.227-7014.  Use
  ~  of this work other than as specifically authorized by these DFARS Clauses may
  ~  violate Government rights in this work.
  ~
  ~  DFARS Clause reference: 252.227-7013 (a)(16) and 252.227-7014 (a)(16)
  ~  Unlimited Rights. The Government has the right to use, modify, reproduce,
  ~  perform, display, release or disclose this computer software and to have or
  ~  authorize others to do so.
  ~
  ~  Distribution Statement D. Distribution authorized to the Department of
  ~  Defense and U.S. DoD contractors only in support of U.S. DoD efforts.
  ~
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.incadencecorp.coalesce.synchronizer.service.SynchronizerService" destroy-method="stop" id="service" init-method="start">
        <property name="drivers">
            <array>
                <!--ref bean="driver"/-->
            </array>
        </property>
    </bean>

</beans>
