<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="coalesceDataServicePortBinding" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8085/DataService/CoalesceDataService"
          binding="basicHttpBinding" bindingConfiguration="coalesceDataServicePortBinding"
          contract="ICoalesceDataService" name="coalesceDataServicePort" />
    </client>
  </system.serviceModel>
</configuration>