
#main .form-buttons {
  text-align: right;
  padding-top: 0.1em;
  font-weight: bold;
  color: black;
}

#main .form-buttons button {
  text-align: center;
  margin: 0.1em;
  width: 80px;
}

a.button{
 color:#fff;
}

.card {
  background-color:#18458e;
  border:1px solid #081e42;
  border-radius:5px;
  color:#fff;
  margin-right:10px;
  padding:10px 10px 10px 10px;
  width: 120px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
